<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WordTrek Solver Administration</title>
</head>
<body>

    {% extends "admin/base.html" %}

    {% block title %}
        {{ title }} |
        {{ site_title|default:_('WordTrek Solver Administration') }}
    {% endblock %}

    {% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('WordTrek Solver Administration') }}
        </a>
    </h1>
    {% endblock %}

    {% block nav-global %}{% endblock %}

</body>
</html>
